@import "https://fonts.googleapis.com/css?family=Noto+Sans";
h1 {
  font-size: 60px;
}

body {
  background-color: f4eaff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 10pt;
  line-height: 1.5;
  border: 3px black;
}
